<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
	<dict>
		<key>CFBundleVersion</key>
		<string>1.6</string>
		<key>CFBundleShortVersionString</key>
		<string>1.6</string>
		<key>CFBundleIcons</key>
		<dict>
			<key>CFBundlePrimaryIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-120.png</string>
				</array>
			</dict>
		</dict>
		<key>UIDeviceFamily</key>
		<array>
			<integer>1</integer>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>Launch</string>
		<key>UIMainStoryboardFile</key>
		<string>MainStoryboard</string>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>UIStatusBarStyle</key>
		<string>UIStatusBarStyleLightContent</string>
		<key>UIStatusBarTintParameters</key>
		<dict>
			<key>UINavigationBar</key>
			<dict>
				<key>Style</key>
				<string>UIBarStyleBlack</string>
				<key>TintColor</key>
				<dict>
					<key>Blue</key>
					<integer>0</integer>
					<key>Green</key>
					<integer>0</integer>
					<key>Red</key>
					<integer>128</integer>
				</dict>
			</dict>
		</dict>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UIApplicationShortcutItems</key>
		<array>
			<dict>
				<key>UIApplicationShortcutItemIconFile</key>
				<string>shortcut-add</string>
				<key>UIApplicationShortcutItemTitle</key>
				<string>Add New Weight</string>
				<key>UIApplicationShortcutItemType</key>
				<string>com.dwarfland.Weight.addweight</string>
				<key>UIApplicationShortcutItemUserInfo</key>
				<dict>
					<key>url</key>
					<string>weight://addweight</string>
				</dict>
			</dict>
			<dict>
				<key>UIApplicationShortcutItemIconFile</key>
				<string>shortcut-chart</string>
				<key>UIApplicationShortcutItemTitle</key>
				<string>Show Chart</string>
				<key>UIApplicationShortcutItemType</key>
				<string>com.dwarfland.Weight.chart</string>
				<key>UIApplicationShortcutItemUserInfo</key>
				<dict>
					<key>url</key>
					<string>weight://home</string>
				</dict>
			</dict>
			<dict>
				<key>UIApplicationShortcutItemIconFile</key>
				<string>shortcut-numbers</string>
				<key>UIApplicationShortcutItemTitle</key>
				<string>Show Numbers</string>
				<key>UIApplicationShortcutItemType</key>
				<string>com.dwarfland.Weight.numbers</string>
				<key>UIApplicationShortcutItemUserInfo</key>
				<dict>
					<key>url</key>
					<string>weight://numbers</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>